*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: rgb(44, 44, 44);
color: white;

}

.wid{
    background-color:rgb(20, 20, 20);
    color: white;
    width: 18.75rem;
    margin: 0 auto;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 3%;
    transition: transform .2s;
}


.wid:hover{
    transform: scale(1.05); 
}

.custimgsty{
    border-bottom: 2px solid rgb(15, 15, 15);
}


a:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .logo {
      width: 30px;
      height: 30px;
      display: inline;
  }

.toptxt {
    margin-top: 25px;
    padding: 2px;
    
      display: inline-block;
}

.tagstyle:hover {
    color: white;
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    border-bottom: 2px solid teal;
    
}

